@tailwind base;
@tailwind components;
@tailwind utilities;

/* can also set this in tailwind.config theme field then use these dirictly  */
body {
  background-image: url("../img/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

#cta {
  background-image: url("../img/bg-simplify-section-desktop.svg");
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-size: 500px;
    background-position: 50px -50px;
  }

  #cta {
    background-image: url("../img/bg-simplify-section-mobile.svg");
  }
}

/* hamburger menu open */
/* .open-menu {
  transform: rotate(90deg);
  transform: translateY(0);
} */

.open-menu .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open-menu .hamburger-middle {
  display: none;
}

.open-menu .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

/* display the menu */
.fade-in {
  visibility: collapse;
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: -99;
}

.fade-in.show {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
